// Variables \\
$Nav-color: #493829;
$Nav-text-color: #a9a18c;
$Nav-unline-color: #d57500;
$info1-background-color: #855723;
$info2-background-color: #668d3c;
$info3-background-color: #8f3b1b;
$Track-container-color: #b99c6b;
$Text-color: white;
$community-background-color: #404f24;

// Mixin \\
@mixin info-basic {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  display: block;
  float: left;
  opacity: 0;
  text-align: center;
}

@mixin easeOut {
  transition: all 0.2s ease-out;
}
@mixin fade {
  .fade-in-top {
    opacity: 1;
    top: 0;
  }

  .fade-in-bottom {
    opacity: 1;
    bottom: 0;
  }

  .fade-in-right {
    opacity: 1;
    right: 0;
  }

  .fade-in-left {
    opacity: 1;
    left: 0;
  }
}
@mixin hoverEffect {
  &:hover {
    @include easeOut;
    color: $Nav-unline-color;
    cursor: pointer;
  }
}
@mixin background-overlay {
  .overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

@mixin title-style {
  color: $Text-color;
  font-size: 2.5rem;
  margin-right: 15rem;
  display: inline;
  cursor: pointer;
  text-shadow: 0px 0.5px 2px black;
  @include hoverEffect;
}

@mixin button-style {
  display: inline;
  background-color: transparent;
  font-size: 0.8rem;
  color: $Text-color;
  padding: 8px;
  border-radius: 25px;
  border-color: $Text-color;
  border-style: solid;
  cursor: pointer;

  @include hoverEffect;
  &:hover {
    border-color: $Nav-unline-color;
  }
}
