// Variables \\
$Nav-color: #493829;
$Nav-text-color: #a9a18c;
$Nav-unline-color: #d57500;
$info1-background-color: #855723;
$info2-background-color: #668d3c;
$info3-background-color: #8f3b1b;

// All \\
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

// Nav \\
nav {
  background: $Nav-color;
  padding: 5px;
  display: flex;
  padding-left: 4rem;
  justify-content: left;
  position: relative;

  ul {
    display: flex;
  }

  li {
    list-style: none;
    padding: 8px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $Nav-text-color;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }
  #store-container {
    margin-top: 5px;
    #store-search {
      margin-left: 33rem;
      height: 14px;
      width: 7rem;
      padding: 5px;
      margin-right: 5px;
      font-size: 11px;
      border-width: 0;
      &:focus {
        outline: none;
      }
    }

    .fa-shopping-cart {
      position: absolute;
      font-size: 1em;
      padding: 5px;
      color: $Nav-text-color;
      cursor: pointer;
      &:hover {
        color: $Nav-unline-color;
      }
    }

    .fa-user {
      @extend .fa-shopping-cart;
      margin-left: 32px;
    }
  }

  .nav-underline {
    height: 2px;
    background: $Nav-unline-color;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 5px;
    transition: top 0.25s, opacity 0.25s;
    opacity: 0%;
  }
}

// Body \\
body {
  .video-container {
    height: 520px;
    padding-bottom: 50px;
    padding-top: 50px;

    video {
      min-width: 100%;
      position: fixed;
      top: 0;
      z-index: -100;
    }

    .video-text {
      text-align: center;
      margin: 250px;
      color: white;
      h2 {
        font-size: 3rem;
      }
    }
  }

  .info-container {
    height: 400px;
    background: $Nav-color;
    overflow: hidden;
    @mixin info-basic {
      position: relative;
      width: calc(100% / 3);
      height: 100%;
      display: block;
      float: left;
      opacity: 0;
    }

    .info-element1 {
      @include info-basic;
      background: darken($info1-background-color, 10%);
      right: calc(100% / 3);
      transition: right 0.6s, opacity 1s;
    }
    .info-element2 {
      @include info-basic;
      background: darken($info2-background-color, 10%);
      top: 400px;
      transition: top 0.6s, opacity 1s;
    }
    .info-element3 {
      @include info-basic;
      background: darken($info3-background-color, 10%);
      left: calc(100% / 3);
      transition: left 0.6s, opacity 1s;
    }

    .fade-in-top {
      opacity: 1;
      top: 0;
    }

    .fade-in-right {
      opacity: 1;
      right: 0;
    }

    .fade-in-left {
      opacity: 1;
      left: 0;
    }
  }

  .test {
    height: 1000px;
    background: grey;
  }
}
